@model IList<GymSpec.Entidades.Aluno>

@Html.ActionLink("Novo usuário", "Form")
<table class="table table‐hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>E‐mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Nome</td>
                <td>@u.Email</td>
            </tr>
        }
    </tbody>
</table>
