<nav>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Alunos", "Index", "Aluno")</li>
            <li>@Html.ActionLink("Pagamentos", "Index", "Pagamento")</li>


        </ul>
    </div>

</nav>
